* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(51, 51, 196);
}

.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 120px;
}

.ball {
    position: absolute;
    left: 15%;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    transform-origin: 50%;
    animation: jumping .5s alternate infinite ease;
}

@keyframes jumping {
    0% {
        top: 60px;
        height: 10px;
        border-radius: 100px 100px 50px 50px;
        transform: scaleX(1.7);
    }

    40% {
        height: 40px;
        border-radius: 50%;
        transform: scaleX(1);
    }

    100% {
        top: 0;
    }
}

.ball:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
}

.ball:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.shadow {
    width: 40px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

.wrap span {
    margin-top: 20px;
    position: absolute;
    top: 90px;
    font-size: 45px;
    letter-spacing: 14px;
    color: white;
    left: 11px;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    overflow: hidden;
    border-right: .15em solid rgb(255, 255, 255);
    white-space: nowrap;
    animation:
        typing 1.5s steps(7, end),
        blink-caret .5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: rgb(255, 255, 255)
    }
}

@keyframes shadow {
    0% {
        transform: scaleX(1.5);
    }

    40% {
        transform: scaleX(1);
        opacity: .7;
    }

    100% {
        transform: scaleX(.2);
        opacity: .4;
    }
}

.shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s;
}

.shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}